.Stories {
    display: flex;
    flex-direction: row;
    align-items: center;
    width: auto;
    height: 6.44rem;
    padding: 0 1rem;
    background-color: #ffffff;
    border-bottom: 0.015rem solid rgba(0,0,0,0.1);
    overflow-x: auto;
}